html {
  scroll-behavior: smooth;
}
.carousel-item {
  height: 90vh;
  object-fit: contain;
}
.img-cards {
  height: 90vh;
  object-fit: contain;
  object-position: center;
}
.card:hover {
  box-shadow: 22px 22px 18px rgb(80, 80, 80);
  transition: box-shadow 400ms ease-in-out;
}
a.active {
  border-radius: 6px;
  border: 3px solid rgb(143, 142, 142);
  color: white;
}
