$buttonColor: rgb(255, 105, 0);
$buttonName: rgb(255, 89, 0);
$purple: rgb(169, 14, 236);
$grisAnth: rgb(44, 41, 40);
// $grisAnth: hsl(323 21% 16%);
$sectionClaire : rgb(185, 189, 200);
// $neon: hsl(317, 100%, 55%);
$neon: hsl(14, 100%, 55%);